.monthsRow {
   align-items: center;
   align-self: center;
   color: #dddddd;
   display: flex;
   gap: 20px;
   justify-content: center;

}

.monthsRow h2 {
   color: #5e5e5e;
   cursor: pointer;
}

.monthsRow h2:hover {
   color: #777777;

}

.dropdownsContainer {
   display: flex;
   gap: 5px;
}

@media (max-width: 650px) {
   .monthsRow {
      gap: 10px;
   }
}