.calendarHeader {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.monthRow {
  align-self: center;
  display: flex;
}

.options {
  align-items: center;
  display: flex;
  gap: 65px;
  height: 100%;
  position: absolute;
  right: 0;
}

.addEventBtn {
  border-radius: 50px;

  height: 50px;
  width: 124px;
}

.hamburgerIcon {
  display: none;
}

@media (max-width: 940px) {
  .calendarHeader {
    justify-content: space-between;
  }

  .options {
    position: relative;
  }
}

@media (max-width: 700px) {
  .addEventBtn {
    height: 48px;
    width: 110px;
  }

  .options {
    display: none;
  }

  .hamburgerIcon {
    display: block;
  }
}
