.eventItemsList {
  /* background-color: beige; */
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow-y: scroll;
}

.eventItem {
  /* background-color: rgba(255, 54, 54,.45); */
  border-radius: 3px;
  cursor: pointer;
  /* color: #FF3636; */
  padding: 4px;
  padding-left: 7px;
  width: 100%;
}

.eventItemText {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}

.eventItem:hover {
}

.eventItem p {
  font-size: 1.05rem;
}

@media (max-width: 850px) {
  .eventItemsList {
    display: none;
  }
}
