.modalOverlay {
   align-items: center;
   background-color: rgba(0,0,0, .4);
   display: flex;
   justify-content: center;
   height: 100vh;
   position: absolute;
   top: 0;
   width: 100vw;
   z-index: 10;
}

.modalContainer {
   background-color: #292929;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   gap: 15px;
   padding: 15px 20px 25px 20px;
   width: 400px;
   /* display: flex;
   flex-direction: column;
   gap: 30px;
   margin-top: 20px; */
}



.modalContainer button {
   width: 100%;
}
   