.calendar {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 0 auto;
  max-width: 1900px;
  width: 90%;
}

.daysOfWeek {
  color: #5e5e5e;
  color: #6d6d6d;

  display: flex;
  font-size: 1.25rem;
  font-weight: 500;
  justify-content: space-around;
}

#daysMobile {
  display: none;
}

@media (max-width: 1100px) {
  #daysDesktop {
    display: none;
  }

  #daysMobile {
    display: flex;
  }
}
