.calendarGrid {
   /* background-color: #1e1e1e; */
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   grid-template-rows: repeat(6, 165px);
   gap: 4px;
   height: 100%;
}

@media (max-width: 850px) {
   .calendarGrid {
      grid-template-rows: repeat(5, 75px);
      /* gap: 10px; */
   }
}