.calendarGrid {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 150px);
  height: 100%;
  margin-top: 3px;
  width: 100%;
}

@media (min-width: 1441px) {
  .calendarGrid {
    grid-template-rows: repeat(6, 175px);
  }
}

@media (max-width: 840px) {
  .calendarGrid {
    grid-template-rows: repeat(6, 100px);
  }
}

@media (max-width: 500px) {
  .calendarGrid {
    grid-template-rows: repeat(6, 60px);
  }
}

@media (max-width: 400px) {
  .calendarGrid {
    grid-template-rows: repeat(6, 50px);
  }
}
