
.modalHeader {
   align-items: center;
   display: flex;
   justify-content: space-between;

}

.modalClose {
   font-size: 2rem;
   padding-bottom: 7px;
}

.newEventSave {
   height: 50px;
}

.descInput {
   height: 100px;
}

.colorCirclesContainer {
   display: flex;
   gap: 15px;
}


.colorCircle {
   border-radius: 50%;
   cursor: pointer;
   height: 30px;
   width: 30px;
}


.redCircle {
   background-color: #FF3636;
}

.greenCircle {
   background-color: #36FF3E;
}

.yellowCircle {
   background-color: #FFE927;
}