.modalOverlay {
   align-items: center;
   background-color: rgba(0,0,0, .4);
   backdrop-filter: blur(1.5px);

   display: flex;
   height: 100vh;
   justify-content: center;
   left: 0;
   position:absolute;
   top: 0;
   width: 100vw;
   z-index: 10;
}