.eventModal {
  gap: 25px !important;
  width: 500px !important;
}

.eventModalSvg {
  fill: #787878;
}

.eventModalSvg:hover {
  fill: #a3a3a3;
}

.modalHeader,
.modalBottom,
.iconsContainer {
  display: flex;
}

.modalHeader,
.modalBottom {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.basicFlex {
  align-items: center;
  display: flex;
  gap: 12px;


}

.basicFlex h2 {

  max-width: 22ch;

}

.eventModalClose {
  height: 45px;
  width: 95px;
}

.description {

  line-height: 1.37;
  min-height: 150px;
  overflow-y: scroll;
  padding: 8px 35px 8px 12px;
  
}

.descIconWrap {
  position: relative;

}



.descIconWrap svg{
  bottom: 12px;
  position: absolute;
  right: 12px;
}

.textGray {
  color: #787878;
}

.eventCounterContainer {
  align-items: center;
  display: flex;
  gap: 4px;
}

.modalBottom {
  align-items: flex-end;
}

.iconContainer {
  align-items: center;
  border-radius: 8px;
  color: #787878;
  cursor: pointer;
  display: flex;
  gap: 8px;
  fill: #787878;
  padding: 2px;
}

.iconContainer p {
  font-weight: 500;
}

.iconContainer:hover {
  color: #a3a3a3;
  fill: #a3a3a3;
}
