* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
  /* background-color: crimson; */

  color: #d4d4d4;
  font-family: "Segoe UI", sans-serif;
  position: relative;
}

main {
  margin: 0 auto;
  padding-top: 50px;
  height: 100vh;
  /* width: 95%; */
  position: relative;
  /* max-width: 1800px; */
}

h1 {
  font-size: 2.75rem;
  color: #dddddd;
  font-weight: 500;
}

h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;
}

a {
  color: #419bf9;
  font-weight: 500;
  text-decoration: none;
  width: fit-content;
}

button {
  cursor: pointer;
}

svg {
  cursor: pointer;
}

.mainActionBtn {
  background-color: rgba(65, 155, 249, 0.35);
  border: none;
  border-radius: 8px;
  color: #419bf9;
  font: inherit;
  font-size: 1rem;
  font-weight: 500;
}

.mainActionBtn:hover {
  background-color: rgba(65, 155, 249, 0.45);
  color: #4ea4ff;

  
}

.linkRight {
  align-self: flex-end;
}

/* inputs */

label {
  color: #c1c1c1;
  font-weight: 500;
  font-size: 1.25rem;
}

input {
  background-color: #333333;
  border: none;
  border-radius: 10px;
  color: #c1c1c1;
  font: inherit;
  font-size: 1.1rem;
  font-weight: 400;
  height: 50px;
  padding-left: 20px;
  width: 100%;
}

.formInputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formSubmit {
  background-color: #419bf9;
  border-radius: 10px;
  border: none;
  color: #f4f4f4;
  font: inherit;
  font-weight: 500;
  height: 50px;
  width: 100%;
}

/* fix below */

.day-red {
  background-color: rgba(255, 54, 54, 0.45);
  color: #f73636;

}

.day-green {
  background-color: rgba(54, 255, 62, 0.45);
  color: #36ff33;
}

.day-yellow {
  background-color: rgba(252, 255, 54, 0.45);
  color: rgba(252, 255, 54, 1);
}

.eventItem-red {
  background-color: rgba(255, 54, 54, 0.45);
  color: #f73636;
}

.eventItem-green {
  background-color: rgba(54, 255, 62, 0.45);
  color: #36ff33;
}

.eventItem-yellow {
  background-color: rgba(252, 255, 54, 0.45);
  color: rgba(252, 255, 54, 1);
}

.eventModal {
   width: 1000px !important;
}


@media (max-width: 850px) {
  .eventItem-red {
    background-color: rgba(255, 54, 54, 1);
  }
  
  .eventItem-green {
    background-color: rgba(54, 255, 62, 1);
  }
  
  .eventItem-yellow {
    background-color: rgba(252, 255, 54, 1);
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 1.75rem;
  }
}